# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.vercel

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal
